<ul>
  <li><%= link_to 'Home', controller: 'welcome' %></li>
  <li><%= link_to 'About', welcome_about_path %></li>
</ul>
<div class="about-section">
  <h1>About Us</h1>
  <p>Safira watches business is running in market Since 2018.</p>
  <p>We are in middle of Winnipeg Manitoba to run business from local store</p>
  <p>But we try to expand our business to reach more customers outside of Winnipeg as well</p>
  </div>
  <br>
  <br>
