<ul>
  <li><%= link_to 'Home', controller: 'welcome' %></li>
  <li><%= link_to 'About', welcome_about_path %></li>
</ul>
<br>
<br>
<h2>Safira watches</h2>
<br>
<br>
<%= paginate @categories %>
<table>
  <tr>
   <th>Category</th>
   <th></th>
  </tr>
  <% @categories.each do |c|%>
  <tr>
    <td><%= c.name %></td>
    </tr>
  <% end %>
</table>
